#
# Cavium ethernet device configuration
#

config CAVIUM_NET
        tristate "Cavium ethernet drivers"
	depends on PCI
        ---help---
          If you have Cavium Thunder board, say Y.

if CAVIUM_NET

config THUNDER_NIC_PF
        tristate "Thunder Physical function driver"
	depends on PCI
	select THUNDER_BGX 
        ---help---
          This driver supports Thunder's NIC physical function.

config THUNDER_NIC_VF
        tristate "Thunder Virtual function driver"
	depends on PCI
        ---help---
          This driver supports Thunder's NIC virtual function

config	THUNDER_BGX
        tristate "Thunder MAC interface driver(BGX)"
	depends on PCI
        ---help---
          This driver supports programming and controlling of MAC
	  interface from NIC physical function driver.

endif #CAVIUM_NET
