/*
 * Cavium Thunder DTS file
 *
 * Copyright (C) 2013, Cavium Inc.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */
/dts-v1/;

/memreserve/ 0x80000000 0x00010000;

/ {
	model = "Cavium Thunder";
	compatible = "cavium,thunder";
	interrupt-parent = <&gic0>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uaa0;
		serial1 = &uaa1;
	};

	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_off = <0x84000001>;
		cpu_on = <0x84000002>;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "psci";
		};
		cpu@2 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x2>;
			enable-method = "psci";
		};
		cpu@3 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x3>;
			enable-method = "psci";
		};
		cpu@4 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x4>;
			enable-method = "psci";
		};
		cpu@5 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x5>;
			enable-method = "psci";
		};
		cpu@6 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x6>;
			enable-method = "psci";
		};
		cpu@7 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x7>;
			enable-method = "psci";
		};
		cpu@8 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x8>;
			enable-method = "psci";
		};
		cpu@9 {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0x9>;
			enable-method = "psci";
		};
		cpu@a {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0xa>;
			enable-method = "psci";
		};
		cpu@b {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0xb>;
			enable-method = "psci";
		};
		cpu@c {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0xc>;
			enable-method = "psci";
		};
		cpu@d {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0xd>;
			enable-method = "psci";
		};
		cpu@e {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0xe>;
			enable-method = "psci";
		};
		cpu@f {
			device_type = "cpu";
			compatible = "cavium,thunder", "arm,armv8";
			reg = <0x0 0xf>;
			enable-method = "psci";
		};
		cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
		};
		cpu@101 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x101>;
			enable-method = "psci";
		};
		cpu@102 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x102>;
			enable-method = "psci";
		};
		cpu@103 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x103>;
			enable-method = "psci";
		};
		cpu@104 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x104>;
			enable-method = "psci";
		};
		cpu@105 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x105>;
			enable-method = "psci";
		};
		cpu@106 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x106>;
			enable-method = "psci";
		};
		cpu@107 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x107>;
			enable-method = "psci";
		};
		cpu@108 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x108>;
			enable-method = "psci";
		};
		cpu@109 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x109>;
			enable-method = "psci";
		};
		cpu@10a {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10a>;
			enable-method = "psci";
		};
		cpu@10b {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10b>;
			enable-method = "psci";
		};
		cpu@10c {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10c>;
			enable-method = "psci";
		};
		cpu@10d {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10d>;
			enable-method = "psci";
		};
		cpu@10e {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10e>;
			enable-method = "psci";
		};
		cpu@10f {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10f>;
			enable-method = "psci";
		};
		cpu@200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x200>;
			enable-method = "psci";
		};
		cpu@201 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x201>;
			enable-method = "psci";
		};
		cpu@202 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x202>;
			enable-method = "psci";
		};
		cpu@203 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x203>;
			enable-method = "psci";
		};
		cpu@204 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x204>;
			enable-method = "psci";
		};
		cpu@205 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x205>;
			enable-method = "psci";
		};
		cpu@206 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x206>;
			enable-method = "psci";
		};
		cpu@207 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x207>;
			enable-method = "psci";
		};
		cpu@208 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x208>;
			enable-method = "psci";
		};
		cpu@209 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x209>;
			enable-method = "psci";
		};
		cpu@20a {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20a>;
			enable-method = "psci";
		};
		cpu@20b {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20b>;
			enable-method = "psci";
		};
		cpu@20c {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20c>;
			enable-method = "psci";
		};
		cpu@20d {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20d>;
			enable-method = "psci";
		};
		cpu@20e {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20e>;
			enable-method = "psci";
		};
		cpu@20f {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x20f>;
			enable-method = "psci";
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	gic0: interrupt-controller@801000000000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg = <0x8010 0x00000000 0x0 0x10000>,   /* GICD */
		      <0x8010 0x80000000 0x0 0x200000>; /* GICR */
		interrupts = <1 9 0xf04>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xff01>,
		             <1 14 0xff01>,
		             <1 11 0xff01>,
		             <1 10 0xff01>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		clocks {
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;

			refclk50mhz: refclk50mhz {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <50000000>;
				clock-output-names = "refclk50mhz";
			};
		};

		ahci0: host-bus-adapter@810000000000 {
			compatible = "snps,spear-ahci";
			reg = <0x8100 0x0 0x0 0x1100>;
			interrupts = <1 32 4>;
		};

		nic0: ethernet@843000000000 {
			compatible = "smsc,lan9115";
			reg-io-width = <4>;
			reg = <0x8430 0x0 0x0 0x1000>;
			interrupts = <1 31 4>;
		};

		uaa0: uart@87e024000000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x87e0 0x24000000 0x0 0x1000>;
			interrupts = <1 21 4>;
			clocks = <&refclk50mhz>;
			clock-names = "apb_pclk";
		};

		uaa1: uart@87e025000000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x87e0 0x25000000 0x0 0x1000>;
			interrupts = <1 22 4>;
			clocks = <&refclk50mhz>;
			clock-names = "apb_pclk";
		};

		rtc@8ee000000000 {
			compatible = "arm,pl031", "arm,primecell";
			reg = <0x8ee0 0x0000 0x0 0x1000>;
			interrupts = <1 20 4>;
			clocks = <&refclk50mhz>;
			clock-names = "apb_pclk";
		};
	};

	pcie_8xxx: 8xxx-pcie-bus {
	        compatible = "pcie-8xxx", "pci";
	        bus-ranges = <0 255>;
        	interrupts = <1 34 0xff01>,                    /* MSI intr 50 */
	                     <1 35 0xff01>,
        	             <1 36 0xff01>,
                	     <1 37 0xff01>,
	                     <1 38 0xff01>,
        	             <1 39 0xff01>,
	                     <1 40 0xff01>,
	                     <1 41 0xff01>,
	                     <1 42 0xff01>,
	                     <1 43 0xff01>,
        	             <1 44 0xff01>,
                	     <1 45 0xff01>,
	                     <1 46 0xff01>,
        	             <1 47 0xff01>,
                	     <1 48 0xff01>,
	                     <1 49 0xff01>,
        	             <1 50 0xff01>,
                	     <1 51 0xff01>,
	                     <1 52 0xff01>,
        	             <1 53 0xff01>,
                	     <1 54 0xff01>,
        	             <1 55 0xff01>,
	                     <1 56 0xff01>,
	                     <1 57 0xff01>,
        	             <1 58 0xff01>,
       		             <1 59 0xff01>,
	                     <1 60 0xff01>,
	                     <1 61 0xff01>,
	                     <1 62 0xff01>,
	                     <1 63 0xff01>,
	                     <1 64 0xff01>,
	                     <1 65 0xff01>,
	                     <1 66 0xff01>,
	                     <1 67 0xff01>,
	                     <1 68 0xff01>,
	                     <1 69 0xff01>,
	                     <1 70 0xff01>,
	                     <1 71 0xff01>,
	                     <1 72 0xff01>,
	                     <1 73 0xff01>,
	                     <1 74 0xff01>,
	                     <1 75 0xff01>,
	                     <1 76 0xff01>,
        	             <1 77 0xff01>,
	                     <1 78 0xff01>,
	                     <1 79 0xff01>,
        	             <1 80 0xff01>,
	                     <1 81 0xff01>,
	                     <1 82 0xff01>,
	                     <1 83 0xff01>,
	                     <1 84 0xff01>,
	                     <1 85 0xff01>,
	                     <1 86 0xff01>,
	                     <1 87 0xff01>,
	                     <1 88 0xff01>,
	                     <1 89 0xff01>,
	                     <1 90 0xff01>,
	                     <1 91 0xff01>,
	                     <1 92 0xff01>,
	                     <1 93 0xff01>,
	                     <1 94 0xff01>,
	                     <1 95 0xff01>,
	                     <1 96 0xff01>,
	                     <1 97 0xff01>,
	                     <1 98 0xff01>,
	                     <1 99 0xff01>,
	                     <1 100 0xff01>,
	                     <1 101 0xff01>,
	                     <1 102 0xff01>,
	                     <1 103 0xff01>,
	                     <1 104 0xff01>,
	                     <1 105 0xff01>,
	                     <1 106 0xff01>,
	                     <1 107 0xff01>,
	                     <1 108 0xff01>,
	                     <1 109 0xff01>,
	                     <1 110 0xff01>,
	                     <1 111 0xff01>,
	                     <1 112 0xff01>,
	                     <1 113 0xff01>,
	                     <1 114 0xff01>,
	                     <1 115 0xff01>,
	                     <1 116 0xff01>,
	                     <1 117 0xff01>,
	                     <1 118 0xff01>,
	                     <1 119 0xff01>,
	                     <1 120 0xff01>,
	                     <1 121 0xff01>,
	                     <1 122 0xff01>,
	                     <1 123 0xff01>,
	                     <1 124 0xff01>,
	                     <1 125 0xff01>,
	                     <1 126 0xff01>,
	                     <1 127 0xff01>,
	                     <1 128 0xff01>,
	                     <1 129 0xff01>,
	                     <1 130 0xff01>,
	                     <1 131 0xff01>,
	                     <1 132 0xff01>,
	                     <1 133 0xff01>,
	                     <1 134 0xff01>,
	                     <1 135 0xff01>,
	                     <1 136 0xff01>,
	                     <1 137 0xff01>,
	                     <1 138 0xff01>,
	                     <1 139 0xff01>,
	                     <1 140 0xff01>,
	                     <1 141 0xff01>,
	                     <1 142 0xff01>,
	                     <1 143 0xff01>,
	                     <1 144 0xff01>,
	                     <1 145 0xff01>,
	                     <1 146 0xff01>,
	                     <1 147 0xff01>,
	                     <1 148 0xff01>,
	                     <1 149 0xff01>,
	                     <1 150 0xff01>,
	                     <1 151 0xff01>,
	                     <1 152 0xff01>,
	                     <1 153 0xff01>,
	                     <1 154 0xff01>,
	                     <1 155 0xff01>,
	                     <1 156 0xff01>,
	                     <1 157 0xff01>,
	                     <1 158 0xff01>,
	                     <1 159 0xff01>,
	                     <1 160 0xff01>,
	                     <1 161 0xff01>,
	                     <1 162 0xff01>,
	                     <1 163 0xff01>,
	                     <1 164 0xff01>,
	                     <1 165 0xff01>,
	                     <1 166 0xff01>,
	                     <1 167 0xff01>,
	                     <1 168 0xff01>,
	                     <1 169 0xff01>,
	                     <1 170 0xff01>,
	                     <1 171 0xff01>,
	                     <1 172 0xff01>,
	                     <1 173 0xff01>,
	                     <1 174 0xff01>,
	                     <1 175 0xff01>,
	                     <1 176 0xff01>,
	                     <1 177 0xff01>,
	                     <1 178 0xff01>,
	                     <1 179 0xff01>,
	                     <1 180 0xff01>,
	                     <1 181 0xff01>,
	                     <1 182 0xff01>,
	                     <1 183 0xff01>,
	                     <1 184 0xff01>,
	                     <1 185 0xff01>,
	                     <1 186 0xff01>,
	                     <1 187 0xff01>,
	                     <1 188 0xff01>,
	                     <1 189 0xff01>,
	                     <1 190 0xff01>,
	                     <1 191 0xff01>,
	                     <1 192 0xff01>,
	                     <1 193 0xff01>,
	                     <1 194 0xff01>,
	                     <1 195 0xff01>,
	                     <1 196 0xff01>,
	                     <1 197 0xff01>,
	                     <1 198 0xff01>,
	                     <1 199 0xff01>,
	                     <1 200 0xff01>,
	                     <1 201 0xff01>,
	                     <1 202 0xff01>,
	                     <1 203 0xff01>,
	                     <1 204 0xff01>;                       /* MSI intr 220 */
        	reg =    <0x8480  0x00000000 0  0x40000000>,      /* ECAM0 config space */
	                 <0x8490  0x00000000 0  0x40000000>;      /* ECAM1 config space */

	        ranges = <0x00  0x8600  0x00000000 0  0x100000      /* Port 0 IO space  */
        	          0x01  0x8440  0x00000000 0x01  0x00000000>,
                	 <0x00  0x8600  0x00100000 0  0x100000      /* Port 1 IO space  */
	                  0x01  0x8441  0x00000000 0x01  0x00000000>; /* Port 1 MEM space  */
        };
};
